doctype
html
  head
    title Giga Pudding Game
    link(rel='stylesheet', href='/css/main.css')
    script(type='text/javascript', src='//cdn.jsdelivr.net/phaser/2.4.3/phaser.min.js')
    script(type='text/javascript', src='/src/js/states/boot.js')
    script(type='text/javascript', src='/src/js/states/preload.js')
    script(type='text/javascript', src='/src/js/states/gametitle.js')
    script(type='text/javascript', src='/src/js/states/thegame.js')
  body
    script(type='text/javascript', src='/src/js/game.js')